nav {
    font-size: 30px;
    padding: 20px;
    background-color: rgb(85, 46, 46);
    color: white;
  }

  .title {
    float: left;
  }
  
  .header {
    float: left;
    margin-left: 28%;
  }
  .score {
    float: right;
  }